DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=rde
DB_PASSWORD=rde_99
DB_DATABASE=rde
OBSERVE_APP_KEY=eDuZEFGvCmr0f2z$
OBSERVE_APP_SECRET=EeIDjC9Crfc8n6ZKcU^Kz4p04WPZjbHrVECRGiN5b50uU
OBSERVE_SERVICE_ID=rde_api_v1_dev_service